<!DOCTYPE html>
<html>
    <head>
        <title>Blog by S.Kissel</title>
    </head>
    <body>
        <div>
            <H1><a href="">Blog by S.Kissel</a></H1>
        </div>
        <div>
            <p>published: some day</p>
            <h2><a href="">Post num 1</a></h2>
            <p>
            Some awesome text here. like: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
        <div>
            <p>published: some other day</p>
            <h2><a href="">My second post</a></h2>
            <p>
            Some awesome text here. like: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>

    </body>
</html> 